{% extends 'layout2.html' %}
{% block content %}
{%from "_macros.html" import input_forms%}

<div class="container">
    <div class="row">
        <form action="/pizzas" id="pizzas" name="pizzas" method="post" novalidate>
            {{form.csrf_token}}
            <div class="row align-items-center">
                <div class="col-7">
                    {{ input_forms(form.dia, placeholder="Buscar:", class="form-control") }}
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <br>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-warning">Buscar</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </div>
            </div>
            
        </form>
       
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Tamaño de Pizza</th>
                <th>Ingredientes</th>
                <th>Num Pizzas</th>
                <th>Costo Total</th>
                <th>Fecha</th>
                
            </tr>
            </thead>
            <tbody>
                {% for b in busqueda %}
                <tr>
                    <td>{{ b.nombre }}</td>
                    <td>{{ b.telefono }}</td>
                    <td>{{ b.tam_pizza }}</td>
                    <td>{{ b.ingredientes }}</td>
                    <td>{{ b.cantidad }}</td>
                    <td>${{ b.costo }}</td>
                    <td>{{ b.create_date }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{%endblock%}